/** Makes video edges curvy **/
.youtubePlayerWrapper {
  height: 45vh;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--gray40);
}

.borderBoxShadow {
  -webkit-box-shadow: 0 3px 7px var(--shadow20);
  -moz-box-shadow: 0 3px 7px var(--shadow20);
  box-shadow: 0 3px 7px var(--shadow20);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 1;
  background: linear-gradient(to top, var(--black10), transparent 50%);
}

.youtubePlayer {
  border-radius: 10px 10px 0px 0px;
  height: inherit;
  width: 100%;
  margin: auto;
  composes: borderBoxShadow;
}
