.likeDislikeBtnWrapper {
  margin-top: 1.5rem;
  display: flex;
  margin-bottom: 0.75rem /* 12px */;
  top: 35%;
}

.btnWrapper {
  margin: auto;
  border-color: var(--white10);
  border-style: solid;
  border-width: 2px;
  background-color: var(--gray40);
  border-radius: 9999px;
  padding: 0.5rem /* 8px */;
  display: flex;
  justify-content: center;
}
